<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
</head>
<body style="background-color:#FFFDD0;">
<div class="card">
            <div class="card-top border-bottom text-center">
                 <a href="#"> Back to shop</a>
            </div>
                <div class="card-body">
                <div class="row upper"style="text-align:center;font-size: 60px;font-family: Copperplate, Papyrus, fantasy;">
                Aaharam  &#127835
            </div>
            <div class="card-body">
                <div class="right border">

                <div class="row">
                    <div class="col-md-7">
                        <div class="left border">
                            <div class="row upper" style="text-align:center;font-size:40px;font-family:Copperplate, Papyrus, fantasy;">
                               Details
                            </div>
                            </div>
                            <form>
                                <span style="font-size:30px;color:#8A2BE2">Customer name*:</span>
                                <input type="text" placeholder="Linda Williams"  required>
                                <span style="font-size:30px;color:#8A2BE2">Phone Number*:</span>
                                <input type="text" placeholder="9999999999"  required>
                                <span style="font-size:30px;color:#8A2BE2">Schedule your order*:</span>
                                <h3>You can schedule your order upto 24 hours</h3>
                                <input type="datetime-local" id="meeting-time" name="meeting-time" value="2022-12-03T19:30" min="2022-12-04T00:00" max="2022-12-05T00:00"  required>
                                <span style="font-size:30px;color:#8A2BE2">Shipping Address*:</span>
                                <textarea id="w3review" name="w3review" rows="4" cols="50"  required>Enter your address here...</textarea>
                            </form>
                        </div>
                    </div>
                </div>

                    <div class="col-md-5">
                        <div class="right border">
                            <div class="header" style="text-align:center;font-size: 40px;font-family: Copperplate, Papyrus, fantasy;">Order Summary</div>
                            <p style="font-size:26px;">{{q}} items</p>
                            {% for item in cart %}
                            <div class="row item">
                                <div class="col-4 align-self-center"><img class="img-fluid" src="{{item.product.item1.url}}" style="height:100px;width:100px;display: block; margin-left: auto; margin-right: auto;"></div>
                                <div class="col-8">
                                    <div class="row" style="font-size:30px;"><b>Rs. {{item.product.iprice}}</b></div>
                                    <div class="row text-muted" style="font-size:30px;text-align:center;">{{item.product.ititle}}</div>
                                    <div class="row" style="font-size:30px;">Qty:{{item.quantity}}</div>
                                </div>
                            </div>
                            {%endfor%}

                            <hr>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;">Subtotal:</div>
                                <div class="col text-right" style="font-size:25px;">Rs.{{amount}}.00</div>
                            </div>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;">Delivery Charge:</div>
                                <div class="col text-right" style="font-size:25px;">Rs.40.00</div>
                            </div>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;"><b>Total to pay</b></div>
                                <div class="col text-right" style="font-size:25px;"><b>$ Rs.{{totalamount}}.00</b></div>
                            </div>

                            <a href="#"><button class="btn" style="font-size:25px;">Continue</button></a>

                        </div>
                    </div>
                </div>
            </div>

         <div>
        </div>
        </div>
</body>
</html>