<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'checkout.css' %}">

</head>

<body style="background-color:#FFFDD0;">
<div class="card">
            <div class="card-top border-bottom text-center">
                 <a href="#"> Back to shop</a>
            </div>
                <div class="card-body">
                <div class="row upper"style="text-align:center;font-size: 60px;font-family: Copperplate, Papyrus, fantasy;">
                Aaharam  &#127835
            </div>
            <div class="card-body">
                <div class="right border">

                <div class="row">
                    <div class="col-md-7">
                        <div class="left border">
                            <div class="row upper" style="text-align:center;font-size:40px;font-family:Copperplate, Papyrus, fantasy;">
                               Details
                            </div>
                            </div>
                            <form>
                                <span style="font-size:30px;color:#8A2BE2">Customer name*:</span>
                                <input type="text" placeholder="Linda Williams"  required>
                                <span style="font-size:30px;color:#8A2BE2">Phone Number*:</span>
                                <input type="text" placeholder="9999999999"  required>
                                <span style="font-size:30px;color:#8A2BE2">Schedule your Booking*:</span>
                                <h3>You can schedule your order upto 24 hours</h3>
                                <input type="datetime-local" id="meeting-time" name="meeting-time" value="2022-12-03T19:30" min="2022-12-04T00:00" max="2022-12-05T00:00"  required>
                                <span style="font-size:30px;color:#8A2BE2">Customize your table*:</span>
                                <textarea id="w3review" name="w3review" rows="4" cols="50"  required></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                    <div class="col-md-5">
                        <div class="right border">
                            <div class="header" style="text-align:center;font-size: 40px;font-family: Copperplate, Papyrus, fantasy;">Booking Summary</div>
                            <p style="font-size:26px;">{{q}} items</p>
                            {% for item in cart %}
                            <div class="row item">
                                <div class="col-4 align-self-center"><img class="img-fluid" src="{{item.product.img.url}}" style="height:100px;width:100px;display: block; margin-left: auto; margin-right: auto;"></div>
                                <div class="col-8">
                                    <div class="row" style="font-size:30px;"><b>Rs. {{item.product.iprice}}</b></div>
                                    <div class="row text-muted" style="font-size:30px;text-align:center;">{{item.product.hname}}</div>
                                    <div class="row" style="font-size:30px;">Qty:{{item.quantity}}</div>
                                </div>
                            </div>
                            {%endfor%}

                            <hr>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;">Subtotal:</div>
                                <div class="col text-right" style="font-size:25px;">Rs.{{amount}}.00</div>
                            </div>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;">Convinience Charge:</div>
                                <div class="col text-right" style="font-size:25px;">Rs.20.00</div>
                            </div>
                            <div class="row lower">
                                <div class="col text-left" style="font-size:30px;"><b>Total to pay</b></div>
                                <div class="col text-right" style="font-size:25px;"><b>$ Rs.{{totalamount}}.00</b></div>
                            </div>

                           <button class="btn"  style="font-size:25px;" id="rzp-button1">Continue</button>

                        </div>
                    </div>
                </div>
            </div>

         <div>
        </div>
        </div>
</body>
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    var options = {

      "key": "{{rzp_test_ymtoQfFFlVdy6s}}",
      "amount": "{{ razoramount }}",
      "currency": "INR",
      "name": "Aaharam",
      "order_id": "{{ order_id }}",

   "handler":function(response){
   console.log("success")

    window.location.href='http://localhost:8000/paymentdone1'
  }
  };
  var rzp1 = new Razorpay(options);

    // add event listener to the payment button.
    document.getElementById("rzp-button1").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
};
</script>
</html>